    menu {
     justify-content: center;
              display: flex;

    }
    li {
  padding: 15px;
   text-align: center;

}
h1 {
    text-align: center;

}
h1{
  color: green;
}
p {
  text-align: justify;
    padding: 1px 0px 1px 0px;

}
.row {
  display: flex;
}
@media  (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
a{
    color:rgb(211, 157, 236)
}
a:hover{ 
    background-color:blue
}

