<<<<<<< HEAD
.page2 h1 {
  text-align: center;
}
.page2 table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
.page2 th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
.page2 th {
  background-color: #000;
  color: #fff;
}
.page2 p{
  text-align: center;
=======
.page3 h1 {

    text-align: center;
    margin-bottom: 1cm;
}

.page3 img {

    width: 500px;
    height: 500px;
    border: 6px solid rgb(5, 25, 211);
    margin: 1cm
   
}

.page3 img:hover {
    transform: scale(1.05);
>>>>>>> zad3
}