.page1 h1 {
  text-align: center;
}
.page1 table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
.page1 th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
.page1 th {
  background-color: #000;
  color: #fff;
}
.page1 p{
  text-align: center;
}
