<<<<<<< HEAD
=======
<<<<<<< HEAD
.page4  {
    background-color: beige;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page4 input, select {
    background-color: rgb(42, 195, 255);
    border-radius: 3px;
    font-size: 25px;
}

.page4 #btn {
    background-color: orange;
    font-size: 24px;
    margin: 7,8 
    
=======
<<<<<<< HEAD
>>>>>>> 7824f7fa9dcd4e4e41c8834a60a4077d62a21590
.page2 h1 {
  text-align: center;
}
.page2 table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
.page2 th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
.page2 th {
  background-color: #000;
  color: #fff;
}
.page2 p{
  text-align: center;
}
.page3 h1 {

    text-align: center;
    margin-bottom: 1cm;
}

.page3 img {

    width: 500px;
    height: 500px;
    border: 6px solid rgb(5, 25, 211);
    margin: 1cm
   
}

.page3 img:hover {
    transform: scale(1.05);
<<<<<<< HEAD
=======
>>>>>>> zad3
>>>>>>> 48d8978daaa19e207bd4a5c5b48de2f7d428c546
>>>>>>> 7824f7fa9dcd4e4e41c8834a60a4077d62a21590
}