.page2 body {

    background-color: beige;

}

.page2 h1 {
    text-align: center;
    font-size: 110px;




}
.page2 p {

    text-align: center;
    gap: 20px
}
.page2 a {
    color: black;
    margin: 30px;
    font-size: 30px;
}
.page2 td, th {

    padding: 8px;
    text-align: left;
    border: 1px solid rgb(0, 0, 0)
   
    
    


}

.page2 th {

    background-color: black;
    color: white


}

.page2 table {
    margin-left: 30%;
    margin-top: 10%;
}