<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
=======
>>>>>>> 3c7c5fda31e5a92d59edffcd9684f0af2f70bfd3
<<<<<<< HEAD
>>>>>>> 565cba620a39234796e0649672ef3ddd0d08759f
.page4  {
    background-color: beige;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page4 input, select {
    background-color: rgb(42, 195, 255);
    border-radius: 3px;
    font-size: 25px;
}

.page4 #btn {
    background-color: orange;
    font-size: 24px;
    margin: 7,8 
    
}
.page4 #btn {
    background-color: orange;
    font-size: 24px;
    margin: 7,8 }
    
=======
<<<<<<< HEAD
>>>>>>> 7824f7fa9dcd4e4e41c8834a60a4077d62a21590
.page2 h1 {
  text-align: center;
}
.page2 table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
.page2 th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
.page2 th {
  background-color: #000;
  color: #fff;
}
.page2 p{
  text-align: center;
}
.page3 h1 {

    text-align: center;
    margin-bottom: 1cm;
}

.page3 img {

    width: 500px;
    height: 500px;
    border: 6px solid rgb(5, 25, 211);
    margin: 1cm
   
}

.page3 img:hover {
    transform: scale(1.05);}
<<<<<<< HEAD
=======
>>>>>>> zad3
>>>>>>> 48d8978daaa19e207bd4a5c5b48de2f7d428c546
<<<<<<< HEAD
}
=======
   .page1 menu {
     justify-content: center;
              display: flex;

    }
    .page1 li {
  padding: 15px;
   text-align: center;

}
.page1 h1 {
    text-align: center;

}
.page1 h1{
  color: green;
}
.page1 p {
  text-align: justify;
    padding: 1px 0px 1px 0px;

}
.page1 #row {
  display: flex;
}
 @media  (max-width: 700px) {
  .page1  #row {
    flex-direction: column;
  }
}
.page1 a{
    color:rgb(211, 157, 236)
}
.page1 a:hover{ 
    background-color:blue
}

>>>>>>> zad1
=======
<<<<<<< HEAD
>>>>>>> 7824f7fa9dcd4e4e41c8834a60a4077d62a21590
=======
=======

.page5 #tak {
    border: 2px solid black;
    width: 250px;
    margin-left: 42%;
    
    
}

.page5 h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 37,8;
}

.page5 #nie {
   
    margin-left: 43%;
    
    
}
    
    
>>>>>>> zadanie-5
>>>>>>> 3c7c5fda31e5a92d59edffcd9684f0af2f70bfd3
}
>>>>>>> 565cba620a39234796e0649672ef3ddd0d08759f
